@import "../../scss/mixin/mixin.scss";
@import "../../scss/variables/variables.scss";

.servicecard__right {
  height: 45rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $back;
}

.servicecard__content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10vw;
  padding-right: 10vw;
}

.servicecardright__img {
  object-fit: cover;
  height: 35rem;
  width: 45rem;
  clip-path: polygon(15% 0, 100% 0%, 85% 100%, 0% 100%);

  transition: transform 0.5s ease-in-out;
}

.servicecardright__text > h2 > span > div {
  height: 1rem;
  width: 10rem;
  border-radius: 0.2rem;
  background-color: $colorprimary;
}

.servicecardright__text > h2 {
  @include backdrop("../../images/servicebackdrop.jpg", rgba(0, 0, 0, 0.1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @include header(8rem, white);
  margin-bottom: 2rem;
}

.servicecardright__text > p {
  text-align: left;
  width: 75rem;
  @include para(2.3rem, black);
}
