@import "../../scss/mixin/mixin.scss";
@import "../../scss/variables/variables.scss";

.services {
}

.services__header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;
  background-color: $back;
  overflow: hidden;
}

.services__header > h1 {
  font-size: 5.5vw;
  font-weight: 800;
  color: white;
  @include backdrop("../../images/servicebackdrop.jpg", rgba(0, 0, 0, 0.2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
