@import '../../scss/mixin/mixin.scss';
@import '../../scss/variables/variables.scss';

.navbar {
  position: fixed;
  top: 0;
  z-index: 100;
  padding-left: 10rem;
  padding-right: 10rem;
  left: 30vw;
  width: 30vw;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  height: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
  // @include backdrop("../../images/backdrop.jpg", rgba(0, 0, 0, 0.5));
  background: rgba(0, 0, 0, 0.35);
  // box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  // border: 1px solid rgba(255, 255, 255, 0.18);

  // &::before {
  //   content: "";
  //   top: 10rem;
  //   position: absolute;
  //   width: 2rem;
  //   height: 2rem;
  //   background-color: red;
  //   left: -2rem;
  //   clip-path: circle(99.7% at 0 100%);
  //   transform: rotate(180deg);
  // }
}

.navbar__options {
  display: flex;
  justify-content: space-between;
  width: 80rem;

  a {
    text-decoration: none;
  }

  h3 {
    color: white;
    font-weight: 500;
    font-size: 2.5rem;
    cursor: pointer;

    &:hover {
      color: $colorprimary;
    }
  }
}
